body {
    font-family: Arial, sans-serif;
}


.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #ddd;
    margin: 0 5px;
}

.tab-button:hover {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 20px;
}

.item {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

.item-content {
    display: none;
    flex-direction: column;
    align-items: center;
}

.item.expanded {
    width: 200px;
    height: 200px;
}

.item.expanded .item-content {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#shopping-list {
    list-style-type: none;
    padding: 0;
}

#shopping-list li {
    padding: 10px;
    background-color: #f0f0f0;
    margin: 5px 0;
    position: relative;
}